body {
    background-color: #121212;
    color: #F0F0F0;
}
input[type="text"], input[type="password"], select {
    background-color: #303030;
    color: #F0F0F0;
    border-style: solid;
    border-color: #303030;
    margin-right: 10px;
    margin-left: 10px;
}
input[type="submit"] {
	background-color: #404040;
    color: #F0F0F0;
    border-style: solid;
    border-color: #404040;
}
a {
	color: #FADA5E;
	text-decoration: none;
}
hr { 
	display: block; 
	height: 1px;
	border: 0; 
	border-top: 1px solid #F0F0F0;
	margin: 1em 0; 
	padding: 0;
}
table {
	border-spacing:0;
	border-collapse: collapse;
}
tr:hover {
	background-color: #202020;
}
td {
	padding: 3px;
}